<div class="container">

<h1 class="app-title">Daily Todo List</h1>
<img src="https://media.istockphoto.com/id/514914078/photo/coffee-cup-and-notebook-with-to-do-list-planning-concept.jpg?b=1&s=612x612&w=0&k=20&c=JVjRL-OOX8AGyj2OlAIHF9OynEgKQXzRnX86bQ_PoPQ=">
  <marquee><h2>Hey! Welcome to our productivity hub. </h2> </marquee>
<h1>
  Stay Organized. Get Things Done...</h1>
  <br />
  <input
    type="text"
    class="input-text"
    placeholder="Type a todo"
    [(ngModel)]="todoValue"
(keyup.enter)="addItem()"
  />
  <button class="abtn" (click)="addItem()">Add Todo</button>
  <div class="list">
    <li class="task" *ngFor="let item of list">

        <input type="checkbox" name="isDone" [(ngModel)]="item.isDone" />
        {{ item.value }}
  <select name="item" id="104">
    <option value="done">Done</option>
    <option value="pending">Pending</option>

</select>
        <!--<input type="text" placeholder="edit" [(ngModel)]="todoValue" (keyup.enter)="edit(item.id)"--->
        <input type="text" [placeholder]="placeholder" [(ngModel)]="todoValue"> 
       <!-- <button (click)="edit(item.id)">Edit</button--->
        <button class="dbtn" (click)="deleteItem(item.id)">Delete</button>
      </li>
    </div>
      </div>
<app-cookies></app-cookies>
